/*
UserChrome.CSS for FF89
 */

* { 
/* -------------------- 🎨 Customization 🎨 -------------------- */
    --tab-corner-rounding: 6px;
    --button-corner-rounding: 4px;
    --menu-corner-rounding: 5px;
    --menu-item-height: 30px;
    --animation-speed: 0.15s;
}

root {
    --tabs-border: transparent !important;
    /* active tab left & right borders - not working in 58?*/
    --toolbox-border-bottom-color: transparent !important;
    /* 1px line under background tabs */
    --chrome-nav-bar-controls-border-color: transparent !important;
    /* border around url bar */
}

/*-----------  TABS height ----------- */
:root {
    --tab-min-height: 34px !important;
}
/*-------------------------------------*/

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Bottom corner rounding for tabs, Remove this section if your tab bottom corners look bad */
tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::after {
    content: "" !important;
    display: inline !important;
    position: absolute !important;
    width: var(--tab-corner-rounding) !important;
    height: var(--tab-corner-rounding) !important;
    bottom: -1px !important;
    pointer-events: none !important;
    background-color: transparent !important;
    transition: var(--animation-speed) !important;
}

tab[visuallyselected] .tab-background::before {
    border-bottom-right-radius: var(--tab-corner-rounding) !important;
    transform: translateX(calc(-1 * var(--tab-corner-rounding))) !important;
    box-shadow: 4px 4px 0px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}

tab[visuallyselected] .tab-background::after {
    border-bottom-left-radius: var(--tab-corner-rounding) !important;
    right: 0px !important;
    transform: translateX(calc(var(--tab-corner-rounding) + 1px)) !important;
    box-shadow: -4px 4px 0px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}

/* --------------------------------------------------------------------------------------- */


scrollbox {
    margin-top: 5px
}

/* This makes certain menus adapt to your toolbar text color. Can make menu text illegible in 
some transparent themes, remove if needed. */
panelview:not([extension]),
.panel-arrowcontent {
    background-color: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
}
/*-------------------------------------------------------------------*/

/* -------------------- Transitions for some things -------------------- */
toolbarbutton,
.subviewbutton,
stack, 
.toolbarbutton-icon,
vbox
{
    transition: background-color var(--animation-speed) !important;

} 

/* -------------------- Style tab bar -------------------- */

.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: 0px !important;
    width: 0px !important;
}

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"] {
    padding-left: 12px !important;
}

[sizemode="maximized"] [first-visible-tab] {
    margin-left: -12px !important;
}

[sizemode="maximized"] [first-visible-tab] stack {
    margin-left: 12px !important;
}

.tab-background, .tab-loading-burst  {
    border-radius: var(--tab-corner-rounding) var(--tab-corner-rounding) 0px 0px !important;
    margin: -1px !important;
}

tab:not(:active) .tab-background {
    transition: background-color var(--animation-speed) !important;
}

:root[uidensity="compact"] {
    --tab-min-height: 28px !important;
}

tab:not([selected]):hover .tab-background {
    background-color: var(--toolbarbutton-hover-background) !important;
}

tab {
    min-width: 1px !important;
    clip-width: 1px !important;
    padding-bottom: 1px !important;
}

.tab-line {
    display: none !important;
}

tab:not([beforeselected-visible])::after {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    transition: border-color var(--animation-speed), margin-top var(--animation-speed) !important;

}

tab[beforehovered]::after,
tab:hover::after {
    border-color: transparent !important;
    margin-top: 20px !important;
}

#navigator-toolbox {
    --tabs-border-color: transparent !important;
}



tab[visuallyselected] .tab-background {
        box-shadow: 0px 3px 12px -5px black !important;
}

[last-visible-tab] {
    margin-right: calc(var(--tab-corner-rounding) + 2px) !important; /* fix unexpected tab overflow */
}

.tabbrowser-tab {padding-inline: 1px !important;}

/*-----------------------------------*/
/* FROM USERCHROME.CSS <= verts. 88  */
/*-----------------------------------*/

/* custom ADD new tab */ 
:-moz-any(#tabs-newtab-button,#new-tab-button,#alltabs-button) .toolbarbutton-icon{
    transform: scale(0.9, 0.9) !important;
    margin-top:1px !important;
    color: darkgray !important;
}

#tabbrowser-tabs #tabs-newtab-button:hover > .toolbarbutton-icon {
    color: black !important;
    background-color: transparent !important; }


:root:-moz-lwtheme {
    --toolbox-border-bottom-color: rgba(0,0,0,0) !important; 
}

#nav-bar {
    box-shadow:0px -12px 12px 0px rgba(0, 0, 0, 0.08) !important;
    border:none !important;
    padding:0px 8px !important;
}


/* custom icon for bookmarks button */
#bookmarks-menu-button { list-style-image: url('bookmarks.svg') !important; }
/* #home-button { list-style-image: url('home.svg') !important; } */

/* remove separator near system menu */
#PanelUI-button{border-left:none !important;}


/* no loading effect on tab */
.tab-loading-burst { display: none !important; }

/* Tabs with no icons 
.tabbrowser-tab:not([busy="true"]):not([pinned]) .tab-icon-image
{ display: none !important; } */


/* Tabs with desaturated icons */
.tabbrowser-tab:not([busy="true"]):not([pinned]) .tab-icon-image
{ filter: grayscale(40%); }

/* Gray out the favicon icon on the inactive tab */
.tabbrowser-tab .tab-icon-image:not([selected=true]):not([pinned]) {
 filter: grayscale(100%) !important;
}

/* Custom TAB close button and hover effect */
.tab-close-button {
    color: grey !important;
    transform: scale(1, 1) !important;
}

.tab-close-button:hover {
    transform: scale(1, 1) !important;
    color: black !important;
    background-color: transparent !important;
}

/* hide reload/stop load page button - F5 is the relative keyboard shortcut */
#reload-button, #stop-button {
  display: none !important;
}


/* Smaller search button paddings */
.search-one-offs {
    padding-top: 6px !important;
    padding-bottom: 7px !important;
}

/* setting for searchbar on FF75 */
#urlbar-background {
	background-color: #fafbfc !important;
	border: 1px solid #4095ff !important;
	border-width: 1px !important;
	border-radius: 4px !important;
	box-shadow: none !important;
}

.urlbarView:not(.megabar) .urlbarView-row,
.urlbarView.megabar .urlbarView-row-inner {
border-radius: 0px !important;
}

/*------------------------------------------*/
.urlbarView-body-inner {
  border-top: none !important;
}
/*------------------------------------------*/


#pageActionSeparator {
 display: none !important; }

#pageActionButton,
#pocket-button-box,
ar-button,
/* .autocomplete-history-dropmarker, */
#identity-box,
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional,
#page-action-buttons,
#PanelUI-menu-button,
#identity-icon-labels {
 filter: grayscale(100%) !important; ; 
}

/* bookmarks toolbar */
#PersonalToolbar {
	max-height: none !important; /* Otherwise it's limited to 4em */
	height: 2.5em; /* Just some ridiculous size so you know it works. */
    color: #808080 !important;
    background: #f3f3f3 !important;
}

/* link barra preferiti al centro e niente icone */
#personal-bookmarks, #PlacesToolbarItems {
-moz-box-pack: center !important;
}

/* no icon on bookmar toolbar */
.bookmark-item .toolbarbutton-icon {
    display: none !important;
}
 
#PlacesToolbar .bookmark-item:hover { /* Hide Mouse-over Effect */
   background: transparent !important;
   color: black !important;
}

/* Custom separator on bookmark toolbar */
#PlacesToolbarItems > toolbarseparator {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

/*  custom bottom-border under the bookmarks toolbar */
#navigator-toolbox { 
	border: none !important;
	border-bottom: 1px solid #d3d7cf !important;
}



